.reponsive{
  height: 0%;
  width: 100%;
}
h2 {
  text-align: center;
  color: darkblue;
  background-color: yellow;
}
.menu{
  text-align: center;
  color: darkblue;
  font-style: italic;
}
.kal{
  text-align: justify;
}
.kl{
  text-align: center;
  font-style: oblique;
  font-family: sans-serif;
  font-weight: 200;

}
