img{
  height: 0%;
  width: 100%;
}
div {
  background-color: red;
}
.jumbotron{
  background-image: images/food-drink.jpg;
}
body{
background-color: blue;
}
.reponsive{
  height: 10%;
  width: 10%;
  float: right;
}
